@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1-scroll-color: darkcyan;
  --header-color: #073a4d;
  --h3-color: #0b448f;
  --p-h2-hr-color: #073a4d;
  --social-button: hsl(0, 0%, 2%);
  --social-hover: #073a4d;
  --bg-color: #eff8fc;
  --footer-color: #073a4d;
  --header-photo: url("/assets/me-bw.jpg");
  --mark-color: rgb(0, 206, 206);
  --mark-text-color: #073a4d;
  --footer-text: white;
  --small-sep-color: rgba(7, 58, 77, 0.36);
  --social-header-transparent: #073a4dd4;
}

[data-theme="dark"] {
  --h1-scroll-color: rgb(9, 153, 153);
  --header-color: rgba(24, 45, 53, 1);
  --h3-color: #1c8cb4;
  --p-h2-hr-color: #ebebeb;
  --social-hover: #146684;
  --social-button: #146684;
  --bg-color: #0e1518;
  --footer-color: #182d35;
  --header-photo: url("/assets/me-bw.jpg");
  --mark-color: rgb(0, 206, 206);
  --mark-text-color: black;
  --footer-text: white;
  --small-sep-color: #073a4d82;
  --social-header-transparent: #182d35d4;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: Stabillo;
  src: url("/assets/StabilloMedium.otf");
}

body {
  margin: 0;
  background: var(--bg-color);
  transition-duration: 500ms;
}

body::-webkit-scrollbar {
  width: 18px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--h1-scroll-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg-color); /* creates padding around scroll thumb */
}

/* main {
  margin: 2vh 10vw 5vh 10vw;
  font-size: 100%;
  max-width: 1024px;
} */

header {
  background: var(--header-color);
  transition-duration: 500ms;
}

header p,
header a,
header i {
  color: var(--footer-text);
}

p,
i {
  color: var(--p-h2-hr-color);
  line-height: 28px;
}

mark {
  background-color: var(--mark-color) !important;
  color: var(--mark-text-color) !important;
  font-weight: bolder;
}

h1 {
  font-family: "Stabillo";
  color: var(--h1-scroll-color);
  letter-spacing: 2px;
  font-size: 56px;
  text-align: center;
}

h2 {
  font-family: "Bahnschrift", "Open Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-weight: bold;
  color: var(--p-h2-hr-color);
}

h3 {
  text-align: left;
  font-weight: bold;
}

h3 {
  margin: clamp(10px, 5vh, 25px) 0;
  font-family: "Bahnschrift", "Open Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
  color: var(--h3-color);
  font-size: 28px;
}

h3 i {
  font-family: "Bahnschrift", "Open Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
  color: var(--h3-color);
  font-size: 28px;
}

p,
noscript {
  font-family: "Bahnschrift", "Open Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(50%) 1fr;
  margin: auto;
  height: fit-content;
}

.welcome div h1 {
  letter-spacing: 5px;
  margin: 0;
}

.welcometext h2 {
  color: var(--footer-text);
  margin: 0;
}

.welcometext {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 15px;
}

#welcomeimage {
  /* background-position: 50% 40%; */
  width: 300px;
  height: auto;
  border-radius: 5%;
  margin: auto;
}

p b {
  font-weight: 900;
}

hr.seperator {
  border: none;
  margin: 5vh auto;
  height: 0.75vh;
  background-color: var(--p-h2-hr-color);
  border-radius: clamp(10px, 5vw, 100px);
}

hr.seperatorsmall {
  margin: 0vh auto;
  width: 100px;
  height: 5px;
  background-color: var(--p-h2-hr-color);
  border-radius: clamp(10px, 5vw, 100px);
  border: none;
  /* border-top: 5px dashed var(--bg-color); */
  transition-duration: 500ms;
  visibility: visible;
}

footer {
  padding: 2.5vh 0 1.5vh 0;
  background-color: var(--footer-color);
  border-radius: 15px 15px 0 0;
  transition-duration: 500ms;
}

footer p,
footer a,
footer i {
  text-align: center;
  color: var(--footer-text);
}

.footerlinks {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  column-gap: clamp(1rem, 2vw, 100rem);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.socialcontainer div i {
  text-align: center;
  font-size: 25px;
  padding: clamp(1rem, 2vw, 1.5rem);
  color: white;
}

.aboutme {
  margin-top: 1vh;
}

.socialcontainer div:hover {
  transform: scale(1.1);
}

.themechange button:active {
  transform: scale(0.8);
}

.themechange button {
  transition-duration: 75ms;
  transition-timing-function: ease-out;
}

.socialcontainer div:active {
  transform: scale(0.8);
}

.socialcontainer div {
  transition-duration: 75ms;
  transition-timing-function: ease-out;
}

.themechange {
  display: none;
}
.socialcolorcontainer {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  transition-duration: 500ms;
}

.socialcontainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 25fr 25fr 25fr 25fr;
  grid-auto-flow: column;
  gap: clamp(1rem, 2vw, 3rem);
  max-width: 1024px;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 100;
}
html:not([data-scroll="0"]) .socialcolorcontainer {
  background-color: var(--social-header-transparent);
}

html:not([data-scroll="0"]) .socialcontainer {
  max-width: 1280px;
}

html:not([data-scroll="0"]) .socialcontainer div:not(.themechange):hover {
  background-color: var(--social-hover);
}

.scc {
  background-color: var(--header-color);
}

.socialcontainer div {
  border-radius: 1500px;
  justify-content: center;
  align-content: center;
  transition-duration: 250ms;
}

.socialcontainer div.themechange {
  margin: 1vh 0vh 1vh auto;

  /* background-color: #073a4d; */
}

.socialcontainer div:not(.themechange) {
  margin: 1vh auto 1vh auto;
  /* background-color: #073a4d; */
}

.arrowholder {
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  gap: clamp(0.5rem, 0.2vw, 100rem);
}

.arrowholder.large {
  font-weight: bolder;
  gap: clamp(0.5rem, 1.25vw, 100rem);
  font-size: x-large;
}

.arrowholder.dynamic {
  margin: 2vh auto;
  justify-content: center;
}

.arrowholder.left {
  margin: 20px 0;
  justify-content: left;
}

.arrowholder.center {
  justify-content: center;
}

.arrowtext p {
  font-weight: normal;
}

.arrowholder .arrowtext,
.arrowholder .arrow {
  transition: ease all 250ms;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.arrowholder.large:hover .arrowtext {
  transform: translateX(4vh);
}

.arrowholder.small:hover .arrowtext {
  transform: translateX(1vh);
}

.arrowholder.large:hover .arrow {
  transform: translateX(2vh);
}

.arrowholder.small:hover .arrow {
  transform: translateX(0.5vh);
}

.arrowlink:hover {
  text-decoration: none;
  cursor: pointer;
}

.emoji {
  font-size: clamp(1rem, 2vw, 100rem);
}

#projects {
  margin: 0 0;
}

.project {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1rem, 1.25vw, 100rem);
}
.project div h3 {
  margin-top: 0;
}

.projectimage {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.projectimage img {
  border-radius: 10px;
  width: auto;
  object-fit: contain;
  margin: auto auto;
  max-height: 400px;
}

.certimage img {
  border-radius: 10px;
  max-height: 200px;
  width: auto;
  object-fit: contain;
  margin: auto auto;
}

noscript p {
  text-align: center;
  padding: 1vh 2vw;
  margin: 0;
  background-color: var(--h1-scroll-color);
  color: var(--bg-color);
  border-radius: 0 0 15px 15px;
}

.aboutme {
  margin-top: 40px;
}

@media only screen and (min-width: 770px) {
  h1 {
    text-align: left;
  }
  #welcomeimage {
    width: 300px;
    height: auto;
  }
  hr.seperatorsmall {
    visibility: hidden;
  }
  .arrowholder.dynamic {
    margin: 2vh 1vw;
    justify-content: left;
  }
  .socialcontainer div i {
    text-align: center;
    font-size: 30px;
  }
  .projectimage img {
    height: auto;
    width: 25vw;
    max-height: 400px;
    object-fit: cover;
  }
  .project {
    margin: 30px 0;
    display: grid;
    grid-auto-flow: column;
  }
  .project:not(.onlytext) {
    grid-template-columns: 2fr 1fr;
  }
  .h3 {
    text-align: center;
  }
  .welcome {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .welcome div h1,
  .welcome div h2 {
    text-align: left;
  }
  .welcometext {
    margin-right: 32px;
    margin-left: 0px;
  }
  .socialcontainer {
    grid-template-columns: 5fr 5fr 5fr 5fr 80fr;
  }
  .themechange {
    display: block;
  }
  .h3 {
    text-align: center;
  }
  /* #projects {
    margin: 0 1vw;
  } */
}
